.menu{
  background-color: #000000c8 !important;
  color: #fff !important;
}


.offcanvas-title-cont {
  border-bottom: 1px solid #b4b4b4;
}
.offcanvas-body-custom {
  padding: 0 !important;
}
.category-sub-cont{
  margin: 20px 0px;
}

.item-box {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-box:hover {
  cursor: pointer;
}

.arrow-custom {
  font-size: 20px;
}

.logout-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid rgba(182, 182, 182, 0.596);
}
.user-icon {
  color: #fff;
  font-size: 25px;
}

.logout-message:hover {
  cursor: pointer;
  color: #b4b4b4;
}

.no-display{
  display: none;
}

.show{
  display: block;
}

.sub-box{
  width: 95%;
  margin-left: auto ;
  margin-top: 5px;
}

.subitem-box{
  width: 100%;
  padding: 10px;
  background-color: #f3f4f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rotate{
  transform: rotate(180deg);
}