.center-content-cont{
    padding: 15px 15px;
    width: 100%;
    margin: 0 auto;
    background-color: #f0f0f0;
    max-width: 600px;
}



.img-card-cont{
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-width: 100px;
}
.card-title-button{
    width: 100%;
    text-align: left;
    margin-left: 10px;
}
.description-item{
    font-size: 13px;
    text-overflow: ellipsis;
    width: 100%; 
}

.item-card{
    width: 100%;
    background-color: #fff;
    padding: 15px;
    margin: 7px 0px;
    border: 1px solid rgba(134, 134, 134, 0.434);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item-img{
    width: 100px;
    height: 100px;

}

.button-cont{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.button-add{
    padding: 5px;
    background-color: #1c9cdf;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border: none;
    border-radius: 4px;
}