.navbar-style {
  width: 100%;
  height: 85px;
  background-color: #08192b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  margin-left: 20px;
  color: #fff;
  font-size: 40px;
}

.icons-2 {
  margin-left: 20px;
  color: #fff;
  font-size: 35px;
}

.mg-r {
  margin-right: 20px;
}
.icons:hover {
  cursor: pointer;
}
.icons-2:hover {
  cursor: pointer;
}

.searcher{
  width: 100%;
  margin-left: 15px;
  color: black;
}

.number-cart{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #0b74ec;
  color: #fff;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}