.offcanvas-title-cont {
  border-bottom: 1px solid #b4b4b4;
}

.cart-item {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #b4b4b4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-img-title-cont {
  display: flex;
  width: 100%;
}

.cart-item-img {
  width: 90px;
  height: 90px;
  min-width: 90px;
  min-height: 90px;
}

.cart-item-title {
  margin: 0px 20px;
  font-weight: 400;
  height: auto;
}

.cart-item-trash {
  font-size: 20px;
}

.cart-item-trash:hover {
  cursor: pointer;
  color: rgb(200, 50, 50);
}

.send-request {
  width: 100%;
  position: absolute;
  z-index: 10;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid rgba(182, 182, 182, 0.596);
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.477);
  -moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.477);
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.477);
}

.send-reques-button {
  margin: 5px;
  width: 163px;
}

.cancel {
  background: #e64942 !important;
  border: none !important;
}

.cancel:hover {
  background: #e43930 !important;
}

.send {
  background: #1f6c9a !important;
  border: none !important;
}

.send:hover {
  background: #077fef !important;
}

.no-elements-cart {
  margin: 10px;
}

.list-cont {
  width: 100%;
  overflow-y: scroll; 
}

.list-cont::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

.list-cont::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.list-cont::-webkit-scrollbar-thumb {
  background: #1f4bc2;
  border-radius: 20px;
}

.title-icons-cont{
  width: 100%
}

.cart-icons-cont{
  margin-left:auto ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.cart-amount{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0px 20px;
}

.amount-number{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 400;
}

.add-remove-icons{
  font-size: 20px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(159, 159, 159, 0.842);
}
