.footer-stl{
    width: 100%;
    background-color: #08192b;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
.footer-text{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 10px;
}
.net-link{
    text-decoration: none;
    color: #fff;
}

.net-link:hover{
    color: #6878d6;
}